fastapi==0.110.1
uvicorn==0.25.0
starlette==0.37.2

pydantic==2.12.5
email-validator==2.3.0
python-dotenv==1.2.2
python-multipart==0.0.24

supabase==2.13.0

stripe==15.0.1
resend==2.0.0

httpx==0.28.1
requests==2.33.1